<%= form_with(url: "/", method: 'get', local: true) do %>
  <div class="form-group">
    <%= text_field_tag :user_id, nil, placeholder: "Enter User ID", style: "text-align: center", class: "form-control form-control-lg" %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Show photos', class: "btn btn-outline-dark btn-lg btn-block" %>
  </div>
<% end %>